/* importing the partials */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.essence20 .chip {
  border-radius: 10px;
  border: 3px solid;
  border-style: outset;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  margin-right: 3px;
  background-color: #4a4848;
  width: fit-content;
  height: fit-content;
  text-size-adjust: 8;
}

.essence20 .chip-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.essence20 .collapsible-item-container {
  list-style: none;
  padding: 8px;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: auto;
  justify-content: center;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  height: fit-content;
}

/* Content toggle open/close. */
.essence20 .accordion-content {
  display: none;
}

.essence20 .open .accordion-content {
  display: block;
}

/* Chevron icon. */
.essence20 .accordion-icon {
  transition: all ease-in-out 0.25s;
}

.essence20 .open .accordion-icon {
  transform: rotate(180deg);
}

.essence20 .item-label-checkbox {
  margin: 0;
}

.essence20 .editor {
  position: relative;
  min-height: 250px;
  max-height: 100%;
  max-width: 100%;
  overflow: inherit;
}

.essence20 .editor-content {
  color: rgb(199, 196, 196);
  min-height: fit-content;
  font-size: 16px;
  padding: 0;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Flex for PR Sheet */
.essence20 .flexrow-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Global styles */
.window-app {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: rgb(199, 196, 196);
  border: 4px solid #b5b1b1;
  border-radius: 15px;
}

.window-app .window-content {
  /* background: rgb(78, 78, 78); */
  color: rgb(199, 196, 196);
  border-radius: 15px;
  background: radial-gradient(farthest-corner at 90% 10%, #535353, #303538, #000000);
  background-size: cover;
}

.window-app .window-content button {
  color: rgb(199, 196, 196);
  background: none;
  border-color: 4px solid #b5b1b1;
  border-radius: 20px;
  box-shadow: 4px 4px 0 black;
}

.essence20 .sheet {
  min-width: fit-content;
  max-width: 55%;
}

.actor {
  min-width: 860px;
  min-height: auto;
}

.dialog .dialog-buttons button.default {
  color: rgb(199, 196, 196);
  background: none;
}

.dialog .dialog-buttons button {
  color: rgb(199, 196, 196);
  background: none;
}

.dialog .dialog-buttons {
  color: rgb(199, 196, 196);
  padding-top: 6px;
}

.dialog-content {
  list-style: none;
  padding: 6px;
  overflow-y: none;
  color: rgb(199, 196, 196);
  flex-basis: auto;
  justify-content: center;
  height: 100%;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
}

.dialog input {
  color: rgb(199, 196, 196);
}

.app .window-app dialog {
  background: none;
}

#module-management .package-list .package-title {
  color: rgb(199, 196, 196);
}

.item-button-container {
  flex-grow: 0;
}

.essence20 .rollable {
  font-size: 1.25em;
}

.rollable:hover,
.rollable:focus {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.window-app textarea {
  color: rgb(199, 196, 196);
}

.chat-message {
  background: radial-gradient(farthest-corner at 90% 10%, #535353, #303538, #000000);
  opacity: 80;
  color: rgb(199, 196, 196);
  border: 4px solid #b5b1b1;
  box-shadow: 4px 4px 0 black;
}

.chat-message .flavor-text {
  color: rgb(199, 196, 196);
}

.chat-message .message-sender {
  color: rgb(199, 196, 196);
}

.chat-message .message-metadata {
  color: rgb(199, 196, 196);
}

.chat-message.whisper {
  background: radial-gradient(farthest-corner at 90% 10%, #535353, #303538, #000000);
  opacity: 80;
  color: rgb(199, 196, 196);
  border: 4px dashed #b5b1b1;
  box-shadow: 4px 4px 0 black;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.essence20 .sheet-header {
  background-color: none;
  border: 4px solid #b5b1b1;
  box-shadow: 4px 4px 0 black;
  padding: 6px;
  border-radius: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

/* PR Sheet Headers */
.essence20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  /* -ms-flex: 0 0 100px; */
  flex: inherit;
  height: 100px;
  margin-right: 10px;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
}

.essence20 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.essence20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* ITEMS */
.essence20 .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: 4px solid #b5b1b1;
  font-weight: bold;
}

.essence20 .items-header > * {
  font-size: 14px;
  text-align: center;
}

.essence20 .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.essence20 .actor-header-size {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.essence20 .pr-header-level {
  flex-grow: 0;
}

.essence20 .pr-header-color {
  flex-grow: 0;
}

/* Generic Item Sheet Styling */
.essence20 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roll-dialog div {
  margin-bottom: 10px;
  height: fit-content;
}

.roll-dialog div label > * {
  vertical-align: middle;
}

.essence20 .skill-header {
  font-size: 1.125em;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5px;
}

.essence20 .skill-header .skill-roll {
  flex-grow: 0;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 4px;
}

.essence20 .skill-header .skill-name {
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.essence20 .skill-body {
  margin-left: 10px;
  margin-right: 10px;
}

.essence20 .skill-body .shift-select {
  margin-top: 5px;
}

.essence20 .skill-body .shift-select > * {
  vertical-align: middle;
}

.essence20 .skill-body .shift-select .specialized-label {
  margin-left: 5px;
}

.essence20 .skill-body .shift-select .specialized-checkbox {
  margin-left: 2px;
}

.essence20 .skill-body .specializations-list {
  margin-top: 5px;
}

.essence20 .skill-body .specializations-list .specializations-item {
  align-items: center;
  gap: 5px;
}

.essence20 .skill-body .specializations-header {
  align-items: center;
  margin-top: 5px;
}

.essence20 .skills-label {
  font-size: 2em;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 50px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
}

.essence20 .skills-container {
  list-style: none;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  transform: rotate(0deg);
  scrollbar-width: thin;
  background-color: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  justify-content: left;
  min-width: 200px;
  flex-grow: 0;
  flex-basis: auto;
}

.essence20 .skillscontainer {
  list-style: none;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  padding: 0;
}

.essence20 h1,
.essence20 h2,
.essence20 h3,
.essence20 h4 {
  color: rgb(199, 196, 196);
}

.essence20 .tox .tox-editor-container {
  background: rgb(255, 255, 255);
}

.essence20 .tox .tox-edit-area {
  padding: 0 8px;
}

.essence20 .powers-section {
  list-style: none;
  padding: 4px;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-basis: auto;
  justify-content: center;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
}

.essence20 .defense-container {
  flex-grow: 0;
  flex-basis: auto;
}

.essence20 .defense-container table thead {
  background-color: inherit;
  border-bottom: 4px solid #b5b1b1;
  color: inherit;
}

.essence20 .defense-container tr:nth-child(even) {
  background-color: inherit;
}

.essence20 .defense-container .tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  margin: 0;
}

.essence20 .defense-container .tg td {
  border-color: 4px solid #b5b1b1;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.essence20 .defense-container .tg th {
  border-color: 4px solid #b5b1b1;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.essence20 .defense-container .tg .tg-td {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}

.essence20 .initiative {
  min-width: fit-content;
  text-align: center;
}

.essence20 .initiative-dropdown {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 6px;
}

.essence20 .essence-header {
  text-align: center;
  margin-top: 5px;
}

.essence20 .essence-header .essence-label {
  font-size: 1.5em;
  vertical-align: middle;
}

.essence20 .essence-header .conditioning-label {
  text-align: right;
}

.essence20 .essences {
  display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: auto;
}

.essence20 .npc-health-container {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
}

.essence20 .notes-title {
  color: white;
  font-size: 16px;
}

.essence20 .notes-container {
  list-style: none;
  margin-right: 3px;
  padding: 8px;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  height: 100%;
}

.essence20 .npc-health-container {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
}

.essence20 .npc-defenses {
  list-style: none;
  margin-right: 3px;
  padding: 8px;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
}

.essence20 .npc-column-1 {
  gap: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.essence20 .npc-column-2 {
  gap: 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.essence20 .npc-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
}

.essence20 .stats-container {
  list-style: none;
  padding: 6px;
  overflow-y: auto;
  color: rgb(199, 196, 196);
  flex-basis: auto;
  justify-content: center;
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  box-shadow: 4px 4px 0 black;
}

.essence20 .stats-row {
  gap: 10px;
  flex-grow: 0;
  flex-wrap: nowrap;
}

.essence20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  gap: 5px;
}

.essence20 .sheet-body .tab,
.essence20 .sheet-body .tab .editor {
  height: 100%;
  gap: 10px;
}

.essence20 .tabs .item {
  background: #5f5f5f;
  border: 1px solid;
  border-radius: 4px 4px 0px 0px;
  flex: 1;
}

.essence20 .tabs .active {
  background: none;
  border-bottom: none;
}

.essence20 .tabs .item.active {
  text-shadow: 0 0 10px #ffffff;
}

.essence20 a:hover {
  text-shadow: 0 0 10px #ffffff;
}

.sheet nav.sheet-tabs {
  border-top: none;
  border-bottom: none;
}

.essence20 .zord-combiners {
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 4px 4px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.essence20 .armor-trait-checkbox-label {
  flex-grow: 0;
  margin-left: 5px;
}

.essence20 .item {
  color: rgb(199, 196, 196);
}

/* Generic Item Sheet Styling */
.essence20 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: rgb(199, 196, 196);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.essence20 .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.essence20 .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: initial;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.essence20 .items-list .item-name h3,
.essence20 .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.essence20 .item-info {
  display: flex;
}

.essence20 .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.essence20 .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.essence20 .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #b5b1b1;
  color: rgb(199, 196, 196);
}

.essence20 .items-list .item:last-child {
  border-bottom: none;
}

.essence20 .items-list .item .item-name {
  color: white;
}

.essence20 .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.essence20 .items-list .item-prop {
  text-align: center;
  border-left: 4px solid #b5b1b1;
  border-right: 4px solid #b5b1b1;
  font-size: 12px;
}

.essence20 .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: 4px solid #b5b1b1;
  font-weight: bold;
}

.essence20 .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.essence20 .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.essence20 .item-label {
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.essence20 .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.essence20 .effects .item .effect-source,
.essence20 .effects .item .effect-duration,
.essence20 .effects .item .effect-controls {
  text-align: center;
  border-left: 4px solid #b5b1b1;
  border-right: 4px solid #b5b1b1;
  font-size: 12px;
}

.essence20 .effects .item .effect-controls {
  border: none;
}

.essence20 .item-sheet {
  background: none;
  border: 4px solid #b5b1b1;
  border-radius: 15px;
  color: rgb(199, 196, 196);
  padding: 6px;
  min-height: none;
}

.essence20 .item-field label {
  flex: 2;
}

.essence20 .item-field .item-field-inputs {
  flex: 3;
  justify-content: flex-end;
}

/* -- Jornal page styling -- */
.window-content .journal-sheet-container .journal-entry-content {
  background: none;
  color: rgb(163, 163, 163);
  border: 10px #c9c7b8;
  /*background-color: blue;*/
}

.window-content .journal-sheet-container {
  background: radial-gradient(farthest-corner at 90% 10%, #535353, #303538, #000000);
  background-size: cover;
  border-radius: 10px white;
}

select {
  color: white;
}

option {
  background-color: #4a4848;
}

.essence20 input[type=number], input[type=text] {
  color: white;
  vertical-align: middle;
}

.essence20 .centered-input {
  text-align: center;
}

.essence20 textarea {
  color: white;
  border: 1px solid var(--color-border-light-tertiary);
}

.essence20 .one-digit-input {
  max-width: 20px;
  text-align: center;
}

.essence20 .two-digit-input {
  max-width: 40px;
  text-align: center;
}

.essence20 .min-max-divider {
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  width: 20px;
  justify-content: center;
  align-items: center;
}

form .notes,
form .hint {
  color: rgb(199, 196, 196);
}

.essence20 .span {
  color: rgb(199, 196, 196);
}

.essence20 .sheet-body {
  min-height: fit-content;
  gap: 10px;
}

.essence20 table {
  background-color: rgba(0, 0, 0, 0);
}

.dice-total.critical {
  color: green;
}

.dice-total.fumble {
  color: red;
}

.dice-total.crumble {
  color: yellow;
}

/*# sourceMappingURL=essence20.css.map */
