/* Error: Undefined variable.
 *    ,
 * 75 |       border: 1px solid $text-color-orange;
 *    |                         ^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\views\_story-points.scss 75:25  @forward
 *   sass\views\_index.scss 1:1           @use
 *   sass\essence20.scss 7:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 75 \2502        border: 1px solid $text-color-orange;\d\a    \2502                          ^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\views\\_story-points.scss 75:25  @forward\a   sass\\views\\_index.scss 1:1           @use\a   sass\\essence20.scss 7:1              root stylesheet";
}
