<div class="flexcol" style="margin: 7px">
  <div class="select flexrow">
    <label>{{localize 'E20.DefenseModificationPrompt'}}</label>
    <select class="item-field-inputs" name="armorTraining" id="armorTraining">
      {{selectOptions choices selected=selected valueAttr="key" labelAttr="label"}}
    </select>
  </div>
</div>
