<form>
  <div>
    <label>Essence Points</label>
    <input style="color: white" type="number" name="essencePoints" value="{{essencePoints}}" min="0" step="1" />
  </div>
  <div class="essence-change">
    <label>Strength</label>
    <input style="color: white" type="number" name="system.strength.max" value="0" min="0" step="1" />
  </div>
  <div class="essence-change">
    <label>Speed</label>
    <input style="color: white" type="number" name="system.speed.max" value="0" min="0" step="1" />
  </div>
  <div class="essence-change">
    <label>Smarts</label>
    <input style="color: white" type="number" name="system.smarts.max" value="0" min="0" step="1" />
  </div>
  <div class="essence-change">
    <label>Social</label>
    <input style="color: white" type="number" name="system.social.max" value="0" min="0" step="1" />
  </div>
</form>
