<div>
  <h3>{{localize prompt}}</h3>
    <select name="choices1">
      {{selectOptions choices1}}
    </select>
    <select name="choices2">
      {{selectOptions choices2}}
    </select>
    <select name="choices3">
      {{selectOptions choices3}}
    </select>
</div>
