// text Colors
// TODO: rename to be more clear
$textcolor1: #c7c4c4;
$textcolor2: #000000;
$textcolor3: #9e9b9b;

//background colors
// TODO: rename to be more clear
$background-b: #5f5f5f;
$background-lb: #0077ff;
$background-r: #ff0000;
$background-g: #008000;
$background-w: #d8d4d4;
$background-p: #f09dab;
$background-y: #c5c500;
$background-purple: #212c5f;
$background-n: none;

//Backround-image
// TODO: rename to be more clear
//$background-image-1: radial-gradient(farthest-corner at 90% 10%, #1C3B50, #03263C, #040519);
$background-image-2: radial-gradient(farthest-corner at 90% 10%, #501c1c, #3c0303, #190404);
$background-image-3: radial-gradient(farthest-corner at 90% 10%, #e605da, #a1187f, #630f4f);
$background-image-4: radial-gradient(farthest-corner at 90% 10%, #1c5020, #033c11, #041906);
$background-image-5: radial-gradient(farthest-corner at 90% 10%, #504d1c, #3c3603, #191904);
$background-image-1: radial-gradient(farthest-corner at 90% 10%, #535353, #303538, #000000);


//Border Color
// TODO: rename to be more clear
$border: 4px solid #b5b1b1;
$border2: 4px dashed #b5b1b1;
$border-radius: 15px;

//Box shadow
$boxshadow: 4px 4px 0 black;

// Spacing
$padding: 6px;

// New vars for new styles =====================================================
// TEXT
$text-color-light: #aaaaaa;
$text-color-dark: #222222;
$text-color-cyan: #4dd0e1;
$text-color-orange: #ff6400;

// BACKGROUNDS
$bg-color-light: #cccccc;
$bg-color-dark: #222222;

// BORDERS
$border-color-light: #5f5f5f;
$border-color-dark: #363636;

// INPUTS
$input-color-light: #fafafa;
$input-color-dark: #333333;

// SPACING
$gap-sm: 6px;
$gap-md: 10px;
$gap-lg: 16px;
$gap-xl: 32px;
