/* importing the partials */
@use 'variables' as v;
@use 'actors';
@use 'items';
@use 'components';

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

:root {
  --root-border-filter: saturate(0);
  --root-border-color: hsl(0, 0%, 50%);
}

select {
  color: white;
}

option {
  background-color: #4a4848;
}

form .form-group span.units {
  color: v.$textcolor3;
}

form .form-group.slim .form-fields > label {
  color: v.$textcolor3;
}

form .notes, form .hint {
  color: v.$textcolor3;
}

.standard-form .form-group > label {
  color: v.$textcolor3;
}

.filepicker .display-modes a {
  background: initial;
}

.filepicker .display-modes a.active {
  background: initial;
}

.filepicker .favorites .path {
  background: initial;
}

input[type="number"], input[type="text"] {
  color: white;
  vertical-align: middle;
}

.essence20,
.essence20 * {
  box-sizing: border-box;
}

.essence20 .centered-input {
  text-align: center;
}

.essence20 textarea {
  color: white;
  border: 1px solid var(--color-border-light-tertiary);
}

.essence20 .one-digit-input {
  max-width: 20px;
  text-align: center;
}

.essence20 .two-digit-input {
  max-width: 40px;
  text-align: center;
}

.essence20 .min-max-divider {
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.essence20 .span {
  color: v.$textcolor1;
}

.essence20 .sheet-body {
  min-height: fit-content;
  gap: 10px;
}

.essence20 table {
  background-color:rgba(0, 0, 0, 0);
}

.dice-total.critical {
  color: green;
}

.dice-total.fumble {
  color: red;
}

.dice-total.crumble {
  color: yellow;
}

.sheet-options {
  min-width: 400px;
  min-height: auto;
}

.sheet-options-morph {
  min-width: 500px;
  min-height: auto;
}

