@use 'assets' as v;
@use 'actors';



nav {
  ul {
    margin: 0;
    padding: v.$padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: v.$padding 12px;
  }
}