@use "../variables" as v;

.essence20 .powers-section {
  list-style: none;
  padding: 4px;
  overflow-y: auto;
  color: var(--theme-text-color);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-basis: auto;
  justify-content: center;
  background: var(--theme-card-bg);
  border: 1px solid var(--theme-border-color);
  border-radius: v.$border-radius;
  width: 100%;
}
