.essence20 .essence-header {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.essence20 .essence-header.strength {
  margin-bottom: 0;
}

.essence20 .essence-header .essence-label {
  font-size: 1.5em;
  vertical-align: middle;
}

.essence20 .essences {
  display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: auto;
}
