@use '../assets/variables' as v;

.essence20 .zord-features {
  background: v.$background-b;
  border: v.$border;
  margin-top: 10px;
  border-radius: 25px;
  padding: v.$padding;
  box-shadow: v.$boxshadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
}