@use '../assets/variables' as v;

.essence20 .initiative {
  min-width: fit-content;
  text-align: center;
}

.essence20 .initiative-dropdown {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-bottom: v.$padding;
}
