@use '../assets/variables' as v;

.essence20 .npc-health-container {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
}

.essence20 .npc-defenses {
  list-style: none;
  padding: v.$padding;
  overflow-y: auto;
  color: v.$textcolor1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: v.$background-n;
  border: v.$border;
  border-radius: v.$border-radius;
  box-shadow: v.$boxshadow;
}

.essence20 .npc-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: v.$padding;
}

.essence20 .npc-column {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.essence20 .npc-column.skills {
  min-width: 290px;
  max-width: 50%;
}

.essence20 .npc-column.items {
  flex-grow: 1;
}

.essence20 .npc-column.defenses {
  width: 60%;
}

.essence20 .npc-column.health {
  width: 40%;
}
