@use '../assets/variables' as v;

.essence20 .npc-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: v.$padding;
}

.essence20 .npc-column {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.essence20 .npc-column.skills {
  width: 50%;
}

.essence20 .npc-column.items {
  width: 50%;
}

.essence20 .npc-column.defenses {
  width: 60%;
}

.essence20 .npc-column.health {
  width: 40%;
}

.essence20 .npc-column.skills.vehicle {
  width: 22%;
}

.essence20 .npc-column.items.vehicle {
  width: 78%;
}

.essence20 .npc-column.skills.zord {
  width: 22%;
}

.essence20 .npc-column.items.zord {
  width: 78%;
}

.essence20 .skill-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.essence20 .skill-separator::before,
.essence20 .skill-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #b5b1b1;
}

.essence20 .skill-separator:not(:empty)::before {
  margin-right: .25em;
}

.essence20 .skill-separator:not(:empty)::after {
  margin-left: .25em;
}
