@use '../variables' as v;

.essence20 .npc-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: v.$padding;
}

.essence20 .npc-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: v.$padding;
}

.essence20 .npc-defenses {
  width: 60%;
}

.essence20 .npc-essence-scores {
  width: 60%;
}

.essence20 .npc-health {
  width: 40%;
}

.essence20 .npc-movement {
  width: 40%;
}

.essence20 .npc-firepoints {
  width: 60%;
}

.essence20 .firepoints-input {
  border: none;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.essence20 .stats-container.firepoints {
  max-height: 60px;
  overflow: hidden;
}

.essence20 .npc-skills {
  width: 50%;
}

.essence20 .skill-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.essence20 .skill-separator::before,
.essence20 .skill-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #b5b1b1;
}

.essence20 .skill-separator:not(:empty)::before {
  margin-right: .25em;
}

.essence20 .skill-separator:not(:empty)::after {
  margin-left: .25em;
}
