@use "../variables" as v;

.essence20 .pony{
  /* background: rgb(78, 78, 78); */
  color: v.$textcolor1;
  border-radius: v.$border-radius;
  background: v.$background-purple;
  background-size: cover;
}

.essence20 .pony-text{
  color: black;
}

.essence20 .spellcasting{
  width: 35%;
  height: fit-content;
}

.essence20 .spelllist{
  width: 65%;
}

.essence20 .diamond{
  color: #b9f2ff;
}

.essence20 .gold{
  color: goldenrod;
}

.essence20 .silver{
  color: silver;
}

.essence20 .bronze{
  color: #CD7F32;
}
