/* Power Rangers Character Sheet */

.essence20 .pr-outer-border {
  display: flex;
  flex-shrink: 0;
  height: 620px;
  width: 612px;
}

.essence20 .pr-inner-border {
   height: 528px;
  width: 620px;
  background-image: url("../assets/mastadon.jpg");
  background-size: cover;
  margin: auto;
  overflow-y: auto;
}

.essence20 .morphed-container {
  float: right;
}


.essence20 .bonuses {
  display: flex;
  flex-direction: row;
}
