@use '../assets/variables' as v;
.essence20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.essence20 .sheet-body,
.essence20 .sheet-body .tab,
.essence20 .sheet-body .tab .editor {
  height: 100%;
  gap: 10px;
}
