@use '../assets/variables' as v;

.essence20 .vehicle-container {
  list-style: none;
  overflow-y: auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #b5b1b1;
  box-shadow: 3px 3px 0 #4a4848;
  background: v.$background-b;
  border: v.$border;
  border-radius: v.$border-radius;
  box-shadow: v.$boxshadow;
  width: 100%;
  gap: 10px;
  padding: v.$padding;
}
