# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
packs/*/*.log
packs/*/LOG
packs/*/LOCK
packs/*/MANIFEST-*
packs/*/CURRENT
packs/*/*.old

# SASS
css/essence20.css.map
