@use '../assets/variables' as v;

.essence20 .armor{
  background: v.$background-b;
  border: v.$border;
  border-radius: v.$border-radius;
  color: v.$textcolor1;
  padding: v.$padding;
}

.essence20 .sheet-body{
  min-height: auto;
}