/* ARMOR SHEET DETAILING */
select {
  color: white;
}

option {
  background-color: #4a4848;
}

.essence20 input[type="number"], input[type="text"] {
  color: white;
  vertical-align: middle;
}

.essence20 .one-digit-input {
  max-width: 20px;
  text-align: center;
}

.essence20 .two-digit-input {
  max-width: 40px;
  text-align: center;
}

form .notes,
form .hint {
  color: white;
}

.essence20 .span {
  color: white;
}

.essence20 .armor-effect {
  color: white;
}

.essence20 .armor-description {
  color: white;
}

.essence20 .description-tab .editor {
  color: white;
  height: 100px;
}

.essence20 .armor-sheet-body,
.essence20 .armor-sheet-body .tab,
.essence20 .armor-sheet-body .tab .editor {
  height: 100%;
}

.essence20 .outer-circle {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, black, red, pink, blue, green, yellow);
  border-radius: 7%;
  animation: rotate 3s linear infinite;
}

.essence20 .inner-circle {
  height: 95%;
  width: 95%;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  border-radius: 7%;
  z-index: 9;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}