/* Feature Sheet Styling */

.essence20 .feature-sheet-body,
.essence20 .feature-sheet-body .tab,
.essence20 .feature-sheet-body .tab .editor {
  height: 100%;
}

.essence20 .feature-description {
  color: white;
}

.essence20 .outer-border {
  display: flex;
  flex-shrink: 0;
  height: 95%;
  width: 95%;
  background-image: linear-gradient(to bottom right, black, red, pink, blue, green, yellow);
  border-radius: 7%;
}

.essence20 .inner-border {
  height: 95%;
  width: 95%;
  background: black;
  background-size: cover;
  margin: auto;
  border-radius: 7%;
}
