/* -- Jornal page styling -- */
.journal-entry-pages {
  color: rgb(163, 163, 163);
  border: 10px #c9c7b8;
  /*background-color: blue;*/
}

.window-content .journal-sheet-container .editable {
  background: #10024e;
  border-radius: 10px white;
}
