<form autocomplete="off" onsubmit="event.preventDefault();">
  <div style="flex-grow: 0;">
    <input class="inline-edit item-label-checkbox" data-field="" type="checkbox" name="" {{checked item.system.equipped}} title="{{localize 'E20.ItemToggleEquipped'}}"/>
  </div>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "E20.CrossoverOptionsUpdate"}}</button>
</form>
