<form class="essence-select-dialog">
  <div class="flexcol item-sheet">
    <div class="essence-select">
      <div>
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.EssenceStrength'}}
        {{#*inline "item-field-inputs"}}
          <select class="item-field-inputs" name="strength" id="strength">
            {{selectOptions choices valueAttr="key" labelAttr="label"}}
          </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
      </div>
      <div>
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.EssenceSpeed'}}
        {{#*inline "item-field-inputs"}}
          <select class="item-field-inputs" name="speed" id="speed">
            {{selectOptions choices valueAttr="key" labelAttr="label"}}
          </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
      </div>
      <div>
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.EssenceSmarts'}}
        {{#*inline "item-field-inputs"}}
          <select class="item-field-inputs" name="smarts" id="smarts">
            {{selectOptions choices valueAttr="key" labelAttr="label"}}
          </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
      </div>
      <div>
        {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.EssenceSocial'}}
        {{#*inline "item-field-inputs"}}
          <select class="item-field-inputs" name="social" id="social">
            {{selectOptions choices valueAttr="key" labelAttr="label"}}
          </select>
        {{/inline}}
        {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
      </div>
    </div>
  </div>
</form>
