<form class="power-cost-dialog">
  <div class="flexcol">
    {{#> "systems/essence20/templates/item/parts/sheet-field.hbs" label='E20.PowerCost'}}
      <input type="number" name="totalPowerCost" value={{powerCost}} />
    {{/"systems/essence20/templates/item/parts/sheet-field.hbs"}}
  </div>
</form>
