<form>
  <div>
    <label>Shift up</label>
    <input type="number" name="shiftUp" value=0 />
  </div>
  <div>
    <label>Shift down</label>
    <input type="number" name="shiftDown" value=0 />
  </div>
  <div>
    <input type="checkbox" name="snag" {{checked snag}} />
    <label>Snag</label>
  </div>
  <div>
    <input type="checkbox" name="edge" />
    <label>Edge</label>
  </div>
  <div>
    <input type="checkbox" name="specialized" {{checked specialized}} />
    <label>Specialized</label>
  </div>
</form>
