<form>
  {{#each traits as |selected name|}}
  <div class="flexrow" style="align-items: center;">
    <input class="item-label-checkbox" type="checkbox" name="system.traits.{{name}}" {{checked selected}} />
    <span class="armor-trait-checkbox-label">{{localize (lookup @root.configTraits name)}}</span>
  </div>
  {{/each}}
</form>
