.chip {
  border-radius: 10px;
  border: 1px solid var(--theme-border-color);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  margin-right: 3px;
  color: var(--theme-text-color);
  background-color: var(--theme-card-bg);
  width: fit-content;
  height: fit-content;
  text-size-adjust: 8;
  white-space: nowrap;
}

.chip-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  row-gap: 3px;
}
