/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.essence20 .collapsible-item-container {
  list-style: none;
  margin-top: 10px;
  margin-right: 3px;
  padding: 8px;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #03129c80;
  border: 4px solid #b5b1b1;
  border-radius: 25px;
  box-shadow: 4px 4px 0 #0a0a0a;
  width: 100%;
  height: fit-content;
}