@use '../assets/variables' as v;

/* Global styles */
.window-app {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  color: v.$textcolor1;
}

.window-app .window-content {
  /* background: rgb(78, 78, 78); */
  background: rgb(66, 66, 66);
  color: v.$textcolor1;
}

.window-app .window-content button {
  color: v.$textcolor1;
  background: rgb(66, 66, 66);
  border-color: black;
  border-radius: 20px;
  box-shadow: v.$boxshadow;
}

.essence20 .sheet {
  min-width: fit-content;
  max-width: 55%;
 }

.actor {
  min-width: 860px;
  min-height: auto;
}


.dialog .dialog-buttons button.default {
  color: v.$textcolor1;
}

.dialog .dialog-buttons button {
  color: v.$textcolor1;
}

.dialog .dialog-buttons {
  color: v.$textcolor1;
}

#module-management .package-list .package-title {
  color: v.$textcolor1;
}

.item-button-container {
  flex-grow: 0;
}

.rollable:hover,
.rollable:focus {
  color: v.$textcolor2;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
