@use 'variables' as v;

/* Generic Item Sheet Styling */
.essence20 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: v.$textcolor1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
