@use "../variables" as v;

.roll-dialog div {
  margin-bottom: 10px;
  height: fit-content;
}

.roll-dialog div label>* {
  vertical-align: middle;
}

.roll-dialog-app .form-footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.roll-dialog-app .form-footer button {
  flex: 1 1 0;
  border-radius: 0;
}
