@use 'variables' as v;

.dialog-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dialog-options li ol.dialog-options {
  margin-left: 1.5em;
}

.dialog-options input[type="text"] {
  height: 24px;
  margin: 2px;
}

.trait-selector {
  flex-grow: 0;
}
