// text Colors
$textcolor1: rgb(199, 196, 196);
$textcolor2: rgb(0,0,0);

//background colors
$background-b: #264a63;
$background-lb: rgb(0, 119, 255);
$background-r: red;
$background-g: green;
$background-w: rgb(216, 212, 212);
$background-p: rgb(240, 157, 171);
$background-y: rgb(197, 197, 0);
$background-n: none;

//Backround-image
$background-image-1: radial-gradient(farthest-corner at 90% 10%, #1C3B50, #03263C, #040519);
$background-image-2: radial-gradient(farthest-corner at 90% 10%, #501c1c, #3c0303, #190404);
$background-image-3: radial-gradient(farthest-corner at 90% 10%, #501c4d, #3c031b, #190414);
$background-image-4: radial-gradient(farthest-corner at 90% 10%, #1c5020, #033c11, #041906);
$background-image-5: radial-gradient(farthest-corner at 90% 10%, #504d1c, #3c3603, #191904);


//Border Color
$border: 4px solid #b5b1b1;
$border2: 4px dashed #b5b1b1;
$border-radius: 15px;

//Box shadow
$boxshadow: 4px 4px 0 black;

// Spacing
$padding: 6px;
