// text Colors
$textcolor1: rgb(199, 196, 196);
$textcolor2: rgb(0,0,0);

//background colors
$background-b: #03129c80;
$background-r: red;
$background-g: green;
$background-w: rgb(216, 212, 212);
$background-p: rgb(240, 157, 171);
$background-y: rgb(197, 197, 0);

//Border Color
$border: 5px solid #0a0a0a;

//Box shadow
$boxshadow: 4px 4px 0 black;

// Spacing
$padding: 6px;