{{#>"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="name" class="resource-label">{{localize 'E20.NpcThreatLevel'}}</label>
  <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
</div>
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
