{{#>"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
{{#*inline "secondary-fields"}}
<div class="resource">
  <label for="name" class="resource-label">{{localize 'E20.NpcThreatLevel'}}</label>
  <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
</div>
{{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/actor-header.hbs"}}
