{{#>"systems/essence20/templates/actor/parts/headers/header.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="system.prerequisite" class="resource-label">{{localize 'E20.ZordPrerequisite'}}</label>
  <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
</div>
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/header.hbs"}}
