{{#>"systems/essence20/templates/actor/parts/headers/header.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="threatLevel" class="resource-label">{{localize 'E20.NpcThreatLevel'}}</label>
  <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
</div>
<div>
  <label for="conditioning" class="resource-label">{{ localize 'E20.ActorConditioning' }}</label>
  <input type="number" name="system.conditioning" value="{{system.conditioning}}" />
</div>
{{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/header.hbs"}}
