{{#>"systems/essence20/templates/actor/parts/headers/header.hbs"}}
{{#*inline "secondary-fields"}}
<div>
  <label for="name" class="resource-label">{{localize 'E20.NpcThreatLevel'}}</label>
  <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" />
</div>
{{> "systems/essence20/templates/actor/parts/misc/vehicle-crew.hbs"}}
{{/inline}}
{{/"systems/essence20/templates/actor/parts/headers/header.hbs"}}
