{{#>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.generalPerks title='E20.perks' dataType='perk'}}
  {{#*inline "additional-expand-details" item}}
    <div>{{localize 'E20.source'}}: {{item.system.source}}</div>
    <div>{{localize 'E20.prerequisite'}}: {{item.system.prerequisite}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
