<div class="origin-info flexrow">
  <div class="origin-entries origin-notes flexcol">
      <h3 class="notes-title">{{ localize "E20.notes" }}</h3>
      {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
  </div>
</div>
