<div class="origin-info flexrow">
  <div class="origin-entries origin-notes flexcol">
    <article class="flexcol">
      <h3 class="article-title">{{ localize "E20.origins" }}</h3>
      {{editor content=system.origins target="system.origins" button=true owner=owner editable=editable}}
    </article>
  </div>
</div>
