{{#>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.perks title='E20.ItemTypePerkPlural' dataType='perk'}}
  {{#*inline "expand-details" item}}
  <div>{{localize 'E20.PerkPrerequisite'}}: {{item.system.prerequisite}}</div>
  <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
