<div class="flexrow stats-row">
  {{!-- Initiative --}}
  {{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}

  {{!-- Health --}}
  {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
</div>
