<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  <div class="header-fields">
    <label for="name" class="resource-label">{{localize 'E20.name'}}</label>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </div>
</header>
