<div class="resource initiative" style="border-color: {{system.color}};">
  <span>{{localize 'E20.ActorInitiative'}}</span>
  <div class="initiative-dropdown flex-group-center">
    <select name="system.initiative.shift">
      {{selectOptions @root.config.initiativeShifts selected=system.initiative.shift localize=true}}
    </select>
    <div class="item-image">
      <a class="rollable" data-roll-type="initiative"><i class="fas fa-dice-d20"></i></a>
    </div>
  </div>
</div>
