<div class="flexrow stats-row">
  <div class="stats-container" style="border-color: {{system.color}}; flex-grow: 0.25;">
    {{!-- Initiative --}}
    {{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}
  </div>

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
  
  {{!-- Health --}}
  {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
</div>
