<div class="common-container">
  {{!-- Initiative --}}
  <div class="common-container-1">
    {{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}
  </div>

  {{!-- Movement --}}
  <div class="common-container-2">
    {{> "systems/essence20/templates/actor/parts/actor-pc-movement.hbs"}}
  </div>

  {{!-- Health --}}
  <div class="common-container-3">
    {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
  </div>
</div>
