<div class="origin-entries origin-notes flexcol">
  <span class="resource flex-group-center">
    <h3 class="origin-title">{{ localize "E20.origin" }}</h3>
  </span>
  {{editor system.origins target="system.origins" button=true owner=owner editable=editable}}
</div>

<hr>

<div class="origin-info">
  {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.bonds title='E20.bonds' dataType='bond'}}
  {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps title='E20.hangUps' dataType='hangUp'}}
</div>
