<header class="npc-sheet-header">
  <div class="pr-header-fields">
    <div class="npc-vert-center">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" />
    </div>
  </div>
</header>