{{#> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps
title='E20.ItemTypeHangupPlural' dataType='hangUp'}}
  {{#*inline "expand-details" item}}
  <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
