<div class="flexrow" style="gap: 10px; flex-grow: 0; flex-wrap: nowrap;">
  {{!-- Initiative --}}
  {{> "systems/essence20/templates/actor/parts/actor-initiative.hbs"}}

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}

  {{!-- Health --}}
  {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
</div>
