<div class="defenses-section">
    <div class="defenses-container flexrow">
      <div class="defense-container">
          <h3>{{localize 'E20.defensesStr'}}</h3>
          {{#each system.defenses as |value defense|}}
            <div>{{localize (concat 'E20.defenses.' defense)}}: </div><input type="number" name="system.defenses.{{defense}}" value="{{value}}"/>
          {{/each}}
      </div>
    </div>
</div>

