<div class="origin-info flexrow">
  <div class="origin-entries origin-notes flexcol">
    <h3 class="origin-title">{{ localize "E20.origin" }}</h3>
    {{editor content=system.origins target="system.origins" button=true owner=owner editable=editable}}
  </div>
</div>