<div class="npc-defenses-section">
    <div class="npc-defenses-container">
      <div>
        <span class="resource flex-group-center"><h2>{{localize 'E20.defensesStr'}}</h2></span>
      </div>
      <div class="npc-defenses">
          {{#each system.defenses as |value defense|}}
           <div class="resource flexcol">
            <span class="resource flex-group-center">{{localize (concat 'E20.defenses.' defense)}}: </span>
            <input type="number" name="system.defenses.{{defense}}" value="{{value}}"/>
          </div>
          {{/each}}
      </div>
    </div>
</div>

