{{!-- Health --}}
<div class="resource flex-group-center">
  <label for="system.health.value" class="resource-label">{{localize 'E20.health'}}</label>
  <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
  </div>
</div>

{{!-- General stats --}}
<span>{{localize 'E20.conditioning'}}</span><input type="number" name="system.conditioning" value="{{system.conditioning}}"/>
<span>{{localize 'E20.initiative'}}</span><input type="number" name="system.initiative" value="{{system.initiative}}"/>
<span>{{localize 'E20.movement.aerial'}}</span><input type="number" name="system.movement.aerial" value="{{system.movement.aerial}}"/>
<span>{{localize 'E20.movement.aerialMin'}}</span><input type="number" name="system.movement.aerialMin" value="{{system.movement.aerialMin}}"/>
<span>{{localize 'E20.movement.ground'}}</span><input type="number" name="system.movement.ground" value="{{system.movement.ground}}"/>
<span>{{localize 'E20.movement.swim'}}</span><input type="number" name="system.movement.swim" value="{{system.movement.swim}}"/>

{{!-- Skills --}}
<h3>{{localize 'E20.skills'}}</h3>
{{#each system.skills as |skills essence|}}
  <h4>{{localize (concat 'E20.essences.' essence)}}</h4>
  {{#each skills as |fields skill|}}
    <h5>{{localize (concat 'E20.essenceSkills.' essence '.' skill)}}</h5>
    <span>{{localize 'E20.modifier'}}</span><input type="number" name="system.skills.{{essence}}.{{skill}}.modifier" value="{{fields.modifier}}"/>
    <input type="checkbox" name="system.skills.{{essence}}.{{skill}}.isSpecialized" {{checked fields.isSpecialized}} data-dtype="Boolean"/>
    <select name="system.skills.{{essence}}.{{skill}}.shift">
      {{selectOptions @root.config.shifts selected=fields.shift localize=true}}
    </select>

    {{!-- Specializations for skill --}}
    <div>{{localize 'E20.specializations'}}</div>
    <a class="item-create" data-type="specialization" data-skill="{{skill}}" title="{{ localize 'E20.addSpecialization' }}">
      <i class="fas fa-plus"></i>
    </a>
    {{#each (lookup @root.specializations skill) as |specialization|}}
      <li class="item flexrow" data-item-id="{{specialization._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="specialization"><i class="fas fa-dice-d20"></i></a>
          </div>
          <input class="inline-edit" data-field="name" type="text" name="{{skill}}.{{specialization.name}}" value="{{specialization.name}}" />
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="{{localize 'E20.deleteSpecialization'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
{{/each}}
