{{#> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.traits
title='E20.ItemTypeTraitPlural' dataType='trait'}}
  {{#*inline "additional-expand-details" item}}
  <div>{{localize 'E20.ItemDescription'}}: {{{item.system.description}}}</div>
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs"}}
