@use "../variables";

// default vars, overridden when needed
body {
  --theme-border-color: $border-bg-light;
  --theme-bg-color: $bg-color-light;
  --theme-text-color: $text-color-dark;
  --theme-input-color: $input-color-light;

  --theme-border-image: url(../assets/borders/default-border.svg);
  --theme-thick-border-image: url(../assets/borders/default-border-thick.svg);
  --theme-filled-border-image: url(../assets/borders/default-tab-filled.svg);
  --theme-tab-image: url(../assets/borders/default-tab.svg);
  --theme-filled-tab-image: url(../assets/borders/default-tab-filled.svg);
}

.theme-wrapper {
  &.theme-light {
    --theme-bg-color: $bg-color-light;
    --theme-text-color: $text-color-dark;
    --theme-input-color: $input-color-light;
  }

  &.theme-dark {
    --theme-bg-color: $bg-color-dark;
    --theme-text-color: $text-color-light;
    --theme-input-color: $input-color-dark;
  }

  &.theme-default {
    --theme-border-image: url(../assets/borders/default-border.svg);
    --theme-thick-border-image: url(../assets/borders/default-border-thick.svg);
    --theme-filled-border-image: url(../assets/borders/default-tab-filled.svg);
    --theme-tab-image: url(../assets/borders/default-tab.svg);
    --theme-filled-tab-image: url(../assets/borders/default-tab-filled.svg);
    &.window-app {
      border-radius: 22px 0 22px 0;
    }
  }

  &.theme-pony {
    --theme-border-image: url(../assets/borders/pony-border.svg);
    --theme-thick-border-image: url(../assets/borders/pony-border-thick.svg);
    --theme-filled-border-image: url(../assets/borders/pony-tab-filled.svg);
    --theme-tab-image: url(../assets/borders/pony-tab.svg);
    --theme-filled-tab-image: url(../assets/borders/pony-tab-filled.svg);
    &.window-app {
      border-radius: 15px;
    }
  }
}