{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.weapons title='E20.ItemTypeWeaponPlural' dataType='weapon'}}
  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/weapon/details.hbs"}}
  {{/inline}}

  {{#*inline "item-label" item}}
    {{#ifEquals @root.actor.type 'transformer'}}
      {{>"systems/essence20/templates/actor/parts/misc/mode-selector.hbs"}}
    {{/ifEquals}}

    {{item.name}}
  {{/inline}}

  {{#*inline "subcontainers" parentItem}}
    {{!-- Weapon Effects --}}
    {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.system.items title="E20.ItemTypeWeaponEffectPlural" dataType="weaponEffect" parentItem=parentItem}}

      {{#*inline "roll-button"}}
        <a class="rollable" data-roll-type="weaponEffect" data-tooltip="{{localize 'E20.WeaponRollTitle'}}"><i class="fas fa-dice-d20"></i></a>
      {{/inline}}

      {{#*inline "item-label" item}}
        {{> "systems/essence20/templates/actor/parts/items/weapon/weapon-effects.hbs"}}
      {{/inline}}

      {{#*inline "expand-details" item parentItem}}
        {{> "systems/essence20/templates/actor/parts/items/weaponEffect/details.hbs"}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}

    {{!-- Upgrades --}}
    {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.system.items title="E20.ItemTypeUpgradePlural" dataType="upgrade" parentItem=parentItem}}
      {{#*inline "item-label" item}}
        {{item.name}}
      {{/inline}}

      {{#*inline "expand-details" item parentItem}}
        {{> "systems/essence20/templates/actor/parts/items/upgrade/details.hbs"}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}
  {{/inline}}

{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
