{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.armors title='E20.ItemTypeArmorPlural' dataType='armor'}}
  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/armor/details.hbs"}}
  {{/inline}}

  {{#*inline "extra-controls" item}}
    <a class="item-create" data-type="upgrade" data-parent-id="{{item._id}}" data-tooltip="{{ localize 'E20.ItemControlAdd' }} {{localize 'E20.Upgrade'}}">
      <i class="fas fa-up"></i>
    </a>
  {{/inline}}

  {{#*inline "subcontainers" parentItem}}
  {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs" items=parentItem.system.items title="E20.ItemTypeUpgradePlural" dataType="upgrade" parentItem=parentItem}}
    {{#*inline "expand-details" item}}
      {{> "systems/essence20/templates/actor/parts/items/upgrade/details.hbs"}}
    {{/inline}}

    {{#*inline "item-label" item}}
      {{item.name}}
    {{/inline}}
  {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-subcontainer.hbs"}}
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
