<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-header.html"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    <h3>{{localize 'E20.defensesStr'}}</h3>
    <div>{{localize 'E20.defenses.toughness'}}: {{system.defenses.toughness}}</div>
    <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.evasion}}</div>
    <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.willpower}}</div>
    <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.cleverness}}</div>

    {{> "systems/essence20/templates/actor/parts/actor-common.html"}}
    {{> "systems/essence20/templates/actor/parts/actor-character.html"}}
  </section>
</form>
