<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-megaformZord-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}

    {{!-- Zord Common Stats --}}
    {{> "systems/essence20/templates/actor/parts/actor-zord-common.hbs"}}

    {{!-- Combiners --}}
    {{> "systems/essence20/templates/actor/parts/actor-zordcombiner.hbs"}}
  </section>
</form>
