<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-header.html"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    <h3>{{localize 'E20.defensesStr'}}</h3>
    <div>{{localize 'E20.defenses.toughness'}}: {{sum system.defenses.unmorphed.toughness equippedArmorEffect}}</div>
    <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.unmorphed.evasion}}</div>
    <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.unmorphed.willpower}}</div>
    <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.unmorphed.cleverness}}</div>

    <h3>{{localize 'E20.morphedDefenses'}}</h3>
    <div>{{localize 'E20.defenses.toughness'}}: {{system.defenses.morphed.toughness}}</div>
    <div>{{localize 'E20.defenses.evasion'}}: {{system.defenses.morphed.evasion}}</div>
    <div>{{localize 'E20.defenses.willpower'}}: {{system.defenses.morphed.willpower}}</div>
    <div>{{localize 'E20.defenses.cleverness'}}: {{system.defenses.morphed.cleverness}}</div>

    {{!-- Personal Power --}}
    <div class="resource flex-group-center">
      <label for="system.personalPower.value" class="resource-label">{{localize 'E20.personalPower'}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.personalPower.value" value="{{system.personalPower.value}}"/>
        <span> / </span>
        <input type="number" name="system.personalPower.max" value="{{system.personalPower.max}}"/>
      </div>
    </div>

    {{> "systems/essence20/templates/actor/parts/actor-common.html"}}
    {{> "systems/essence20/templates/actor/parts/actor-character.html"}}
  </section>

</form>
