<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-npc-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- NPC Defenses --}}
    {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}
    {{!-- Movement --}}
    {{> "systems/essence20/templates/actor/parts/actor-movement.hbs"}}
    {{!-- Hang-ups --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.hangUps
    title='E20.ItemTypeHangupPlural' dataType='hangUp'}}
    {{!-- Threat Powers --}}
    {{> "systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.threatPowers
    title='E20.ItemTypeThreatPowerPlural' dataType='threatPower'}}
    {{!-- Perks --}}
    {{> "systems/essence20/templates/actor/parts/actor-perks.hbs"}}
    {{!-- Weapons --}}
    {{> "systems/essence20/templates/actor/parts/actor-weapons.hbs"}}
    {{!-- Skills --}}
    {{> "systems/essence20/templates/actor/parts/actor-accordion-skills.hbs"}}
  </section>
</form>
