<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-zord-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="sheet-body flexrow">
      {{!-- Health --}}
      {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
      <div class="stats-container flex-group-center">
        <div class="resource flexcol flex-group-center">
          <span>{{localize 'E20.ActorConditioning'}}</span>
          <input class="one-digit-input" type="number" name="system.conditioning" value="{{system.conditioning}}" />
        </div>
      </div>
    </div>
    {{!-- Zord Common Stats --}}
    {{> "systems/essence20/templates/actor/parts/actor-zord-common.hbs"}}
  </section>
</form>
