<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-header.html"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}
    <div class="resource flex-group-center">
      <label for="system.personalPower.value" class="resource-label">{{localize 'E20.personalPower'}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.personalPower.value" value="{{system.personalPower.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="number" name="system.personalPower.max" value="{{system.personalPower.max}}" data-dtype="Number"/>
      </div>
    </div>

    {{> "systems/essence20/templates/actor/parts/actor-common.html"}}
    {{> "systems/essence20/templates/actor/parts/actor-character.html"}}
  </section>
</form>
