<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-base-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    {{> "systems/essence20/templates/actor/parts/actor-common.hbs"}}
  </section>
</form>
