<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-zord-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    {{!-- Zord Common Stats --}}
    {{> "systems/essence20/templates/actor/parts/actor-zord-common.hbs"}}

    {{!-- Megaform Traits --}}
    {{>"systems/essence20/templates/actor/parts/actor-collapsible-item-container.hbs" items=@root.megaformTraits
    title='E20.ItemTypeMegaformTraitPlural' dataType='megaformTrait'}}
  </section>
</form>
