<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/actor-header.html"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body">
    {{> "systems/essence20/templates/actor/parts/actor-common.html"}}
    <input type="number" name="system.threatLevel" value="{{system.threatLevel}}" placeholder="{{ localize E20.threatLevel }}"/>

    <h3>Crew</h3>
    <input type="text" name="system.crew.description" value="{{system.crew.description}}" placeholder="{{ localize 'E20.description' }}"/>
    <input type="number" name="system.crew.numDrivers" value="{{system.crew.numDrivers}}" placeholder="{{ localize E20.numDrivers }}"/>
    <input type="number" name="system.crew.numPassengers" value="{{system.crew.numPassengers}}" placeholder="{{ localize E20.numPassengers }}"/>

    <h3>Firepoints</h3>
    <input type="text" name="system.firepoints.description" value="{{system.firepoints.description}}" placeholder="{{ localize 'E20.description' }}"/>
    <input type="number" name="system.firepoints.value" value="{{system.firepoints.value}}" placeholder="{{ localize E20.numDrivers }}"/>

  </section>
</form>
