<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/actor-zord-header.hbs"}}

  {{!-- Actor Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="npc-row">
      {{!-- Defenses --}}
      {{> "systems/essence20/templates/actor/parts/actor-npc-defenses.hbs"}}

      {{!-- Health --}}
      {{> "systems/essence20/templates/actor/parts/actor-health.hbs"}}
    </div>

    {{!-- Zord Common Stats --}}
    {{> "systems/essence20/templates/actor/parts/actor-zord-common.hbs"}}
  </section>
</form>
