<div class="flexrow item-field">
  <div class="flexrow" style="align-items: center; gap: 5px;">
    <label style="flex-grow: 0;">{{localize label}}</label>
    {{#> item-field-edit}}
    {{!-- Custom item field edit button goes here --}}
    {{/item-field-edit}}
  </div>

  <div class="flexrow item-field-inputs">
    {{#> item-field-inputs}}
    {{!-- Custom item inputs go here --}}
    {{/item-field-inputs}}
  </div>
</div>
