<div class="flexrow item-field">
  <label>{{localize label}}</label>
  <div class="flexrow item-field-inputs">
    {{#> item-field-inputs}}
    {{!-- Custom item inputs go here --}}
    {{/item-field-inputs}}
  </div>
</div>
