<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/gijoe.hbs"}}

  {{!-- Tabs --}}
  {{> "systems/essence20/templates/actor/parts/misc/tabs.hbs"}}

  <hr style="border-color: {{system.color}};"/>

  {{!-- Actor Sheet Body --}}
  {{> "systems/essence20/templates/actor/parts/misc/body.hbs"}}
</form>
