<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Actor Sheet Header --}}
  {{> "systems/essence20/templates/actor/parts/headers/transformer.hbs"}}

  {{!-- Tabs --}}
  {{> "systems/essence20/templates/actor/parts/misc/pc-tabs.hbs"}}

  <hr style="border-color: {{system.color}};"/>

  {{!-- Actor Sheet Body --}}
  {{> "systems/essence20/templates/actor/parts/misc/pc-body.hbs"}}
</form>
