<ol class="items-list" style="border-color: {{system.color}};">
  {{#each perks as |perk|}}
  <li class="item accordion-wrapper" data-item-id="{{perk._id}}">
    {{!-- Item label and buttons --}}
    {{>"systems/essence20/templates/actor/parts/misc/collapsible-item-container-label-buttons.hbs" item=perk}}

    {{!-- Item content --}}
    {{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container-content.hbs" item=perk}}
      {{#*inline "expand-details" item}}
        {{> "systems/essence20/templates/actor/parts/items/perk/details.hbs"}}
      {{/inline}}
    {{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container-content.hbs"}}
  </li>

  <hr>

  {{/each}}
</ol>
