<div class="flexrow">
  <div></div>

  <div style="flex-grow: 0; white-space: nowrap;">
    {{perkTypeStr}}
  </div>

  <span class="header-accordion-wrapper">
    {{#if items.length}}
    <a class="header-accordion-label" data-type='perk' data-tooltip="{{ localize 'E20.ItemControlExpandAll' }}">
      <i class="accordion-icon fas fa-chevron-down"></i>
    </a>
    {{/if}}
  </span>
</div>
