<div class="collapsible-item-container collapsible-item-subcontainer">
  {{!-- Header with + and v buttons --}}
  {{> "systems/essence20/templates/actor/parts/misc/collapsible-item-container-header.hbs" items=items title=title dataType=dataType}}

  <ol class="items-list" style="border-color: {{system.color}};">
    {{#each items as |item|}}
    <li class="item accordion-wrapper" data-item-id="{{item._id}}" data-parent-id="{{../parentId}}">
      {{!-- Item label and buttons --}}
      {{> "systems/essence20/templates/actor/parts/misc/collapsible-item-container-label-buttons.hbs" item=item}}

      {{!-- Item content --}}
      {{> "systems/essence20/templates/actor/parts/misc/collapsible-item-container-content.hbs" item=item}}
    </li>

    <hr>

    {{/each}}
  </ol>
</div>
