<div class="flexrow stats-row">
  {{!-- Morph/Transform --}}
  {{> "systems/essence20/templates/actor/parts/misc/morph-transform.hbs"}}

  {{!-- Initiative --}}
  <div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
    {{> "systems/essence20/templates/actor/parts/misc/initiative.hbs"}}
  </div>

  {{!-- Wealth Die --}}
  {{> "systems/essence20/templates/actor/parts/misc/wealth-die.hbs"}}

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/misc/movement.hbs"}}

  {{!-- Health --}}
  {{> "systems/essence20/templates/actor/parts/misc/health.hbs"}}

  {{!-- Stun --}}
  {{> "systems/essence20/templates/actor/parts/misc/stun.hbs"}}
</div>
