<div class="flexrow stats-row">
  <div class="stats-container health-container" style="border-color: {{system.color}};">
    {{!-- Initiative --}}
    {{> "systems/essence20/templates/actor/parts/misc/initiative.hbs"}}
  </div>

  {{!-- Movement --}}
  {{> "systems/essence20/templates/actor/parts/misc/movement.hbs"}}

  {{!-- Health --}}
  {{> "systems/essence20/templates/actor/parts/misc/health.hbs"}}

  {{!-- Stun --}}
  {{> "systems/essence20/templates/actor/parts/misc/stun.hbs"}}
</div>
