<div class="flexrow flex-group-center sliced-border" style="border-color: {{system.color}};">
  <label class="sliced-border__label">Defenses</label>
  {{#each system.defenses as |fields defense|}}
  <div class="flexcol">
    <label>{{lookup @root.config.defenses defense}}</label>
    <input class="centered-input" type="number" name="system.defenses.{{defense}}.value" value="{{fields.value}}" min="0" step="1" />
  </div>
  {{/each}}
</div>
