<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  {{#each system.essences as |score skill|}}
  <div class="flexcol">
    <label>{{lookup @root.config.essences skill}}</label>
    <input class="centered-input" type="number" name="system.essences.{{skill}}" value="{{score}}" />
  </div>
  {{/each}}
</div>
