<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  {{#each system.defenses as |fields defense|}}
  <div class="flexcol">
    <label>{{lookup @root.config.defenses defense}}</label>
    <input class="centered-input" type="number" name="system.defenses.{{defense}}.value" value="{{fields.value}}" />
  </div>
  {{/each}}
</div>
