<div class="stats-container flexrow flex-group-center" style="border-color: {{system.color}};">
  <div class="flexcol flex-group-center">
    <label>{{localize 'E20.ActorStun'}}</label>
    <div class="flexrow" style="align-items: center;">
      <input class="centered-input no-lock" type="number" name="system.stun.value" value="{{system.stun.value}}" min="0" step="1" />
      <span>/</span>
      <input class="centered-input no-unlock" type="number" name="system.stun.max" value="{{system.health.value}}" readonly/>
    </div>
  </div>
</div>
