@use "../variables" as v;

.stat-editor {
  .window-content {
    padding: v.$gap-lg;
  }
}

.stat-editor-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: v.$gap-sm;
    text-align: center;
  }

  thead th {
    color: var(--theme-text-color);
    font-weight: 700;
    white-space: nowrap;
  }

  tbody th {
    color: var(--theme-text-color);
    text-align: left;
    white-space: nowrap;
  }

  input {
    width: 100%;
    min-width: 45px;
    text-align: center;
  }
}
