<div class="collapsible-item-container" style="border-color: {{system.color}};">
  {{> "systems/essence20/templates/actor/parts/misc/collapsible-item-container-header.hbs" title="E20.ItemTypePerkPlural" dataType="perk"}}

  <div class="items-list">
    {{#each @root.config.perkTypes as |perkTypeStr perkType|}}
      {{#if (lookup @root.perks perkType)}}
        <div class="collapsible-item-container collapsible-item-subcontainer">
          {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-container-header.hbs" perks=(lookup @root.perks perkType) perkTypeStr=perkTypeStr}}
          {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-container.hbs" perks=(lookup @root.perks perkType)}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
