<div class="collapsible-item-container" style="border-color: {{system.color}};">
  {{> "systems/essence20/templates/actor/parts/misc/collapsible-item-container-header.hbs" title="E20.ItemTypePerkPlural" dataType="perk"}}

  <div class="items-list">
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="influence"}}
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="origin"}}
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="general"}}
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="faction"}}
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="division"}}
    {{> "systems/essence20/templates/actor/parts/misc/collapsible-perk-subcontainer.hbs" perkType="role"}}
  </div>
</div>
