<div class="storypoints-content">
  <div class="storypoints-label">{{localize 'E20.STORY_POINTS.gmPoints'}}</div>
  <div id="gmpoints-btn-hurt" class="storypoints-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="gmpoints-input" type="number" value="{{gmPoints}}" />
  <div id="gmpoints-btn-heal" class="storypoints-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>

<div class="storypoints-content">
  <div class="storypoints-label">{{localize 'E20.STORY_POINTS.storyPoints'}}</div>
  <div id="storypoints-btn-hurt" class="storypoints-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="storypoints-input" type="number" value="{{storyPoints}}" />
  <div id="storypoints-btn-heal" class="storypoints-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>
