<div class="storypoints-content">
  <span>{{localize 'E20.STORY_POINTS.gmPoints'}}</span>
  <div id="gmpoints-btn-hurt" class="storypoints-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="gmpoints-input" type="number" value="{{gmPoints}}" disabled />
  <div id="gmpoints-btn-heal" class="storypoints-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>

<div class="storypoints-content">
  <span>{{localize 'E20.STORY_POINTS.storyPoints'}}</span>
  <div id="storypoints-btn-hurt" class="storypoints-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="storypoints-input" type="number" value="{{storyPoints}}" disabled />
  <div id="storypoints-btn-heal" class="storypoints-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>
