<div class="story-points-content">
  <div class="story-points-label">{{localize 'E20.STORY_POINTS.gmPoints'}}</div>
  <div id="gm-points-btn-hurt" class="story-points-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="gm-points-input" type="number" value="{{gmPoints}}" />
  <div id="gm-points-btn-heal" class="story-points-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>

<div class="story-points-content">
  <div class="story-points-label">{{localize 'E20.STORY_POINTS.storyPoints'}}</div>
  <div id="story-points-btn-hurt" class="story-points-btn bad-ones">
    <i class="fas fa-angle-double-down"></i>
  </div>
  <input id="story-points-input" type="number" value="{{storyPoints}}" />
  <div id="story-points-btn-heal" class="story-points-btn good-ones">
    <i class="fas fa-angle-double-up"></i>
  </div>
</div>
