{{#>"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs" items=@root.classFeatures title='E20.ItemTypeClassFeaturePlural' dataType='classFeature'}}
  {{#*inline "item-label" item}}
    {{item.name}}
    <input class="one-digit-input inline-edit" data-field="system.uses.value" type="number"
      name="item.system.uses.value" value="{{item.system.uses.value}}" min="0" step="1"/>
    /
    <input class="one-digit-input inline-edit" data-field="system.uses.max" type="number" name="item.system.uses.max"
      value="{{item.system.uses.max}}" min="0" step="1" />
    </span>
  {{/inline}}

  {{#*inline "expand-details" item}}
    {{> "systems/essence20/templates/actor/parts/items/classFeature/details.hbs"}}
  {{/inline}}
{{/"systems/essence20/templates/actor/parts/misc/collapsible-item-container.hbs"}}
