<div class="collapsible-item-container" style="border-color: {{system.color}};">
  {{!-- Header with + and v buttons --}}
  {{> "systems/essence20/templates/actor/parts/collapsible-item/header.hbs" items=items title=title dataType=dataType}}

  <ol class="items-list" style="border-color: {{system.color}};">
    {{#each items as |item|}}
    <li class="item accordion-wrapper" data-item-id="{{item._id}}" data-parent-id="{{../parentId}}">
      {{!-- Item label and buttons --}}
      {{> "systems/essence20/templates/actor/parts/collapsible-item/label-buttons.hbs" item=item}}

      {{!-- Item content --}}
      {{> "systems/essence20/templates/actor/parts/collapsible-item/content.hbs" item=item}}
    </li>
    {{/each}}
  </ol>
</div>
