<div class="flexrow">
  <div class="flexrow" style="align-items: center; gap: 5px;">
    <label style="flex-grow: 0; white-space: nowrap;">{{localize label}}</label>
    {{#> field-edit}}
    {{!-- Custom item field edit button goes here --}}
    {{/field-edit}}
  </div>

  <div class="flexrow" style="align-items: center;">
    {{#> field-inputs}}
    {{!-- Custom item inputs go here --}}
    {{/field-inputs}}
  </div>
</div>
