<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    {{!-- Prerequisite --}}
    {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.PerkPrerequisite'}}
    {{#*inline "item-field-inputs"}}
    <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
    {{/inline}}
    {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
    
    {{!-- Effects Section --}}
    {{> "systems/essence20/templates/item/parts/item-active-effects.hbs"}}
    
    {{!-- Description Section --}}
    {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
  </section>
 
</form>
