<form class="{{cssClass}}" autocomplete="off">

  <section class="feature-sheet-body">
    <div class="outer-border">
      <div class="inner-border">

        {{!-- Item Sheet Header --}}
        {{> "systems/essence20/templates/item/parts/item-header.html"}}

        {{!-- Item Sheet Body --}}

        <div class="feature-description">
          {{!-- Description Section --}}
          {{> "systems/essence20/templates/item/parts/item-description.html"}}
        </div>
      </div>
    </div>
  </section>

</form>