<form class="{{cssClass}}" autocomplete="off">

  {{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{ localize "E20.TabMain" }}</a>
    <a class="item" data-tab="effects">{{ localize "E20.TabEffects" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body item-sheet">
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      {{!-- Prerequisite --}}
      {{#> "systems/essence20/templates/item/parts/item-sheet-field.hbs" label='E20.PerkPrerequisite'}}
      {{#*inline "item-field-inputs"}}
      <input type="text" name="system.prerequisite" value="{{system.prerequisite}}" />
      {{/inline}}
      {{/"systems/essence20/templates/item/parts/item-sheet-field.hbs"}}
      {{!-- Description Section --}}
      {{> "systems/essence20/templates/item/parts/item-description.hbs"}}
    </div>
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{!-- Effects Section --}}
      {{> "systems/essence20/templates/item/parts/item-active-effects.hbs"}}
    </div>
  </section>

</form>
