<form class="{{cssClass}}" autocomplete="off">

	{{!-- Item Sheet Header --}}
  {{> "systems/essence20/templates/item/parts/item-header.html"}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    <select name="data.availability">
      {{#select data.availability}}
      {{#each config.availabilities as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>

    <input type="number" name="data.numCharges" value="{{data.numCharges}}" placeholder="{{ localize 'E20.charges' }}"/>
    <input type="number" name="data.shift" value="{{data.shift}}" placeholder="{{ localize 'E20.shift' }}"/>

    <input type="text" name="data.classification.skill" value="{{data.classification.skill}}" placeholder="{{ localize 'E20.skill' }}"/>
    <input type="text" name="data.classification.size" value="{{data.classification.size}}" placeholder="{{ localize 'E20.size' }}"/>
    <input type="text" name="data.classification.style" value="{{data.classification.style}}" placeholder="{{ localize 'E20.style' }}"/>

    <input type="text" name="data.custom" value="{{data.custom}}" placeholder="{{ localize 'E20.custom' }}"/>

    <h3>{{localize 'E20.damages'}}</h3>
    {{#each data.damages}}
      <h4>Damage stats would show here</h4>
    {{else}}
      <h4>Need a button here to add damages</h4>
    {{/each}}

    <input type="number" name="data.numHands" value="{{data.numHands}}" placeholder="{{ localize 'E20.numHands' }}"/>
    <input type="number" name="data.numTargets" value="{{data.numTargets}}" placeholder="{{ localize 'E20.numTargets' }}"/>
    <input type="number" name="data.radius" value="{{data.radius}}" placeholder="{{ localize 'E20.radius' }}"/>

    <h3>{{localize 'E20.range'}}</h3>
    <input type="number" name="data.min" value="{{data.min}}" placeholder="{{ localize 'E20.min' }}"/>
    <input type="number" name="data.reachMultiplier" value="{{data.reachMultiplier}}" placeholder="{{ localize 'E20.reachMultiplier' }}"/>
    <input type="number" name="data.long" value="{{data.long}}" placeholder="{{ localize 'E20.long' }}"/>
    <input type="number" name="data.value" value="{{data.value}}" placeholder="{{ localize 'E20.value' }}"/>

    <h3>{{localize 'E20.requirements'}}</h3>
    <input type="text" name="data.requirements.custom" value="{{data.requirements.custom}}" placeholder="{{ localize 'E20.custom' }}"/>
    <input type="text" name="data.requirements.skill" value="{{data.requirements.skill}}" placeholder="{{ localize 'E20.skill' }}"/>
    <input type="number" name="data.requirements.shift" value="{{data.requirements.shift}}" placeholder="{{ localize 'E20.shift' }}"/>

    {{!-- Description Section --}}
		{{> "systems/essence20/templates/item/parts/item-description.html"}}
  </section>

</form>
